[user]
	name = Thomas Sapp
	email = tpsapp@hotmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIB/8lxvgyPpmbb3pSi5tCe1CBIKi3CW69l9wKAjr6cH4
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"
[commit]
  gpgsign = true
