[user]
	name = Thomas Sapp
	email = tpsapp@hotmail.com
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
